* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}
.container {
  background: url(./images/brown.jpg) center center no-repeat;
  background-size: cover;
  min-height: 50vh;
  color: beige;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
li {
  display: inline;
  padding: 10px;
  color: beige;
}

.hero {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.hero-content {
  position: relative;
  color: rgb(223, 209, 209);
  text-align: center;
  margin: 1.5rem;
  padding: 1.5rem;
  align-items: center;
  width: 75%;
}
.hero-head {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0;
}
.hero-text {
  font-size: 1.3rem;
  font-weight: 200;
  margin-top: 1rem;
  line-height: 1.4;
}
a {
  text-decoration: none;
  color: azure;
}
.hero-btn {
  cursor: pointer;
  padding: 1rem 3rem;
  margin: 2rem;
  border-radius: 10px;
  border: 0.5px solid #d7c9be;
  background-color: #d7c9be;
  color: #6e4025;
  font-weight: 500;
}
.hero-btn:hover {
  background-color: #6e4025;
  border: 1px solid #6e4025;
  color: azure;
  font-weight: 500;
  transition: 0.65s;
}
.services {
  background: #ffffff;
}
.service-head {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}
.services-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-card {
  margin: 3rem;
  align-items: center;
  justify-content: center;
}
h2,
img {
  padding: 20px;
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #333333;
}
#contact {
  margin-top: 4rem;
}
#contact h3 {
  align-items: center;
  margin-bottom: 20px;
  color: #8fa2aa;
}
/* .center-items {
  padding: 10px;
} */
.center-items p {
  padding: 5px;
}
